<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>AIzaSyCQMOEwbiG94uK2IJycPV5IedcIKaVov28</string>
	<key>apiKey1</key>
	<string>AIzaSyCqfx2Y1UxhaFBgum9mLf2FkTLdsPsQssQ</string>
	<key>apiKey2</key>
	<string>AIzaSyAXjkQ0NFEsxzMBjvKi-o23tDM9XMvWD3k</string>
</dict>
</plist>
